@font-face {
  font-family: 'Adirek';
  src: url('../../assets/AdirekSans.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

header {
  height: 10vh;
  display: flex;
  background-color: #b52c2f;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    position: relative;
    left: 0px;
    height: 100%;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Adirek', sans-serif;
    margin: 0;
    font-size: 2rem;
  }

  /* ====== Responsividade para dispositivos móveis ====== */
  @media (max-width: 600px) {
    height: auto;
    flex-direction: column;

    img {
      height: 60px;
      margin: 10px 0;
      left: unset;
    }

    h1 {
      font-size: 1.5rem;
      padding: 5px 10px;
    }
  }
}
