.login-container {
    min-height: 100vh;
    display: flex;
    background-image: url('../../../src/assets/chainsawbg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1.5rem 1rem 1rem;
}

.login-form {
    background: white;
    $form-border-radius: 20px;
    border-radius: $form-border-radius;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    .login-form-img {
        width: 100%;
        margin-bottom: 1rem;
    }

    main {
        $form-black: #040406;
        border-radius: $form-border-radius;
        background: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;

        .title-and-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            h1 {
                font-size: 1.75rem;
                z-index: 1;
                color: $form-black;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            img {
                height: 4rem;
                position: relative;
                z-index: 0;
                top: 1px;
                right: 1px;
            }
        }

        h2 {
            font-size: 1.75rem;
            color: #9d5ca2;
            margin-bottom: 2rem;
        }
    
        label {
            font-weight: 600;
            font-size: 0.95rem;
            color: #686570;
        }
    
        input {
            padding: 0.6rem 0.75rem;
            color: #686570;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            font-size: 1rem;
            transition: border-color 0.3s;
            margin-bottom: 1rem;
    
            &:focus {
                border-color: #b45eba;
                outline: none;
            }
        }
    
        button {
            background: #834D87;
            color: white;
            padding: 0.75rem;
            font-weight: bold;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background 0.3s;
    
            &:hover {
                background: #653b68;
            }
        }
    }

    .error-msg {
        background: #ffe6e6;
        color: #b91c1c;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }
}